/PersistenciaInvernadero/nbproject/private/
/RestServer/nbproject/private/
/DominioInvernadero/build/
/DominioInvernadero/dist/
/PersistenciaInvernadero/build/
/PersistenciaInvernadero/dist/
/RestServer/build/
/Sensores/build/
/PantallaInvernadero/build/
/Sensores/dist/
/PantallaInvernadero/dist/
